@font-face {
    font-family: 'B612';
    src: local('B612 Regular'), local('B612-Regular'),
        url('B612-Regular.woff2') format('woff2'),
        url('B612-Regular.woff') format('woff'),
        url('B612-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }